$offset: -350px;
$height: 210px;
$shadow: 10vw;
$animateInterval: 2s;

.slider-wrapper {
  display: flex;
  overflow: hidden;
  height: $height;
  margin: 20px 0;

  .slider-container {
    // width: 100%;
    position: absolute;
    overflow: hidden;
    width: calc(100vw - #{$offset});
    left: $offset
  }


  .images {
    display: flex;
    flex-direction: row;
    position: relative;
    height: $height;

    &::before {
      content: '';
      position: absolute;
      width: $shadow;
      height: $height;
      left: calc(#{-$offset} - 45px);
      top: 0;
      z-index: 1;
      background: rgb(255, 255, 255);
      background: linear-gradient(90deg, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
    }

    &::after {
      content: '';
      position: absolute;
      width: $shadow;
      height: $height;
      right: 0;
      top: 0;
      z-index: 1;
      background: rgb(255, 255, 255);
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 1) 100%);
    }

    img {
      width: 300px;
      height: $height;
      margin: 0 15px;
      border-radius: 15px;
      position: absolute;
      left: 0;
      display: block;
    }
  }
}


.slide-enter {
  opacity: 0;
}

.slide-enter.slide-enter-active {
  opacity: 0;
  transition: all $animateInterval linear;
}

.slide-leave {
  transform: translate(0, 0);
}

.slide-leave.slide-leave-active {
  transform: translate(320px, 0); // 320 => 300 image width 20 offset
  transition: all $animateInterval linear;
}
